<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riode - Product Details</title>
    <link rel="icon" type="image/png" href="https://d-themes.com/html/riode/images/icons/favicon.png">

    <link rel="stylesheet" href="./dist/css/reset.css">
    <link rel="stylesheet" href="./dist/css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./dist/css/owl.carousel.css">
    <link rel="stylesheet" href="./dist/css/owl.theme.default.css">
</head>
<body>
     
    <!-- Header -->
    <header class="header">
        <section class="header-top">
            <div class="container d-flex jc-space-between ai-center">
                <div class="header-left">
                    <p>Welcome to Riode store message or remove it!</p>
                </div>
    
                <div class="header-right">
                    <a class="hover-p-color" href="">
                        <i class="fa-solid fa-location-dot"></i>Contact Us
                    </a>
                    <a class="hover-p-color" href="">
                        <i class="fa-solid fa-circle-info"></i>Need help
                    </a>
                </div>
            </div>
        </section>

        <section class="header-middle">
            <div class="container d-flex jc-space-between ai-center">
                <div class="header-left  d-flex jc-space-between ai-center">
                    <div class="logo">
                        <a href="home.html"><img src="https://d-themes.com/html/riode/images/demos/demo4/logo.png" alt=""></a>
                    </div>

                    <ul class="menu  d-flex jc-space-between ai-center">
                        <li><a href="home.html">Home</a></li>
                        <li><a href="products.html">Products</a></li>
                        <li class="active"><a href="products.html">Sale</a></li>
                        <li><a href="">About</a></li>
                        <li class="search d-flex ai-center">
                            <input type="text" placeholder="Search...">
                            <a href="">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </li>
                    </ul>
                </div>
    
                <ul class="header-right  d-flex jc-space-between ai-center">
                   
                    <li><a href="login.html"><i class="fa-solid fa-user"></i></a></li>
                    <li><a href=""><i class="fa-solid fa-bag-shopping"></i></a></li>
                </ul>
            </div>
        </section>

        <div class="header-support"></div>

    </header>

    <!-- Main -->
    <main class="main">
        <div class="container">
            <div class="product">
                <div class="row">
                    <div class="col-5 product-image">
                        <img src="https://d-themes.com/html/riode/images/demos/demo4/product/product-1-580x652.jpg" alt="">
                    </div>
                    <div class="col-7 product-detail">
                        <div class="product-navigation">
                            <a href=""><i class="fa-solid fa-house"></i></a>
                            <i class="fa-solid fa-angle-right"></i>
                            <a href="">Products</a>
                            <i class="fa-solid fa-angle-right"></i>
                            Detail
                        </div>

                        <h2 class="product-name">Beyond React Blue Sneaker</h2>
                        <div class="product-meta">
                            <div class="product-sku">
                                SKU: 123456789
                            </div>

                            <div class="product-brand">
                                BRAND: The NorthFace
                            </div>
                        </div>

                        <div class="product-price">$139.00</div>

                        <div class="product-rating">
                            <ul class="list-stars">
                                <li class="active"><i class="fa-solid fa-star"></i></li>
                                <li class="active"><i class="fa-solid fa-star"></i></li>
                                <li class="active"><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>

                            ( 6 Reviews )
                        </div>

                        <!-- <div class="product-short-desc">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus liberpuro ate vol faucibus adipiscing.</div> -->
                        <div class="product-short-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo architecto quo sed assumenda similique sequi iusto accusantium optio quisquam officia ipsam, nobis sint commodi saepe, deleniti modi ullam ab cum.</div>

                        <div class="product-form">
                            <label for="">Color:</label>
                            <select name="" id="">
                                <option value="black">Black</option>
                                <option value="blue">Blue</option>
                                <option value="green">Green</option>
                                <option value="yellow">Yellow</option>
                            </select>
                        </div>

                        <div class="product-form">
                            <label for="">Size:</label>
                            <select name="" id="">
                                <option value="s">Small</option>
                                <option value="m">Medium</option>
                                <option value="l">Large</option>
                                <option value="xl">Extra Large</option>
                            </select>
                        </div>

                        <div class="product-devider"></div>

                        <div class="product-form">
                            <div class="form-control">
                                <button class="quantity-minus"><i class="fa-solid fa-minus"></i></button>
                                <input type="number" value="1" min="1" max="100">
                                <button class="quantity-plus"><i class="fa-solid fa-plus"></i></button>
                            </div>

                            <button class="add-cart"><i class="fa-solid fa-basket-shopping"></i>Add to Cart</button>
                        </div>

                        <div class="product-devider"></div>

                        <div class="brands">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="desc">
                <h2 class="title">Description</h2>

                <div class="row desc-main">
                    <div class="col-6 features">
                        <h5 class="desc-title">Features</h5>
                        <p>Praesent id enim sit amet.Tdio vulputate eleifend in in tortor. ellus massa. siti iMassa ristique sit amet condim vel, facilisis quimequistiqutiqu amet condim Dilisis Facilisis quis sapien. Praesent id enim sit amet.</p>
                        <ul>
                            <li><i class="fa-solid fa-check"></i>Praesent id enim sit amet.Tdio vulputate</li>
                            <li><i class="fa-solid fa-check"></i>Eleifend in in tortor. ellus massa.Dristique sitii</li>
                            <li><i class="fa-solid fa-check"></i>Massa ristique sit amet condim vel</li>
                            <li><i class="fa-solid fa-check"></i>Dilisis Facilisis quis sapien. Praesent id enim sit amet</li>
                        </ul>

                        <h5 class="desc-title">Specifications</h5>
                        <table>
                            <tr>
                                <th>Material</th>
                                <td>Praesent id enim sit amet.Tdio</td>
                            </tr>
                            <tr>
                                <th>Claimed Size</th>
                                <td>Praesent id enim sit</td>

                            </tr>
                            <tr>
                                <th>Recommended Use</th>
                                <td>Praesent id enim sit amet.Tdio vulputate eleifend in in tortor. ellus massa. siti</td>

                            </tr>
                            <tr>
                                <th>Manufacturer</th>
                                <td>Praesent id enim</td>

                            </tr>
                        </table>
                    </div>

                    <div class="col-6 video-desc">
                        <h5 class="desc-title">Video Description</h5>

                        <div class="video">
                            <img src="https://d-themes.com/html/riode/images/product/product.jpg" alt="">
                            <a href=""><i class="fa-solid fa-play"></i></a>
                        </div>

                        <div class="row benefits">
                            <div class="col-6 icon-box">
                                <div class="icon-box-icon">
                                    <i class="fa-solid fa-lock"></i>
                                </div>

                                <div class="icon-box-content">
                                    <h4>2 year warranty</h4>
                                    <p>Guarantee with no doubt</p>
                                </div>
                            </div>

                            <div class="col-6 icon-box">
                                <div class="icon-box-icon">
                                    <i class="fa-solid fa-truck-fast"></i>
                                </div>

                                <div class="icon-box-content">
                                    <h4>free shipping</h4>
                                    <p>On orders over $50.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <section class="show-products" style="padding-bottom: 50px;">
                <div class="container">
    
                    <!-- Title  -->
                    <h4 class="title">
                        Related Products
                        <a href="" class="more hover-p-color">VIEW MORE <i class="fa-solid fa-arrow-right"></i></a>
                    </h4>
    
                    <!-- List Product Show -->
                    <div class="owl-carousel owl-theme">
    
                        <!-- A product  -->
                        <div class="product">
                            <div class="product-image">
                                <img src="https://d-themes.com/html/riode/images/demos/demo4/products/5.jpg" alt="">
    
                                <div class="new">NEW</div>
    
                                <a href="" class="btn-view">VIEW DETAILS</a>
    
                                <a href="" class="btn-add">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </div>
    
                            <div class="product-content">
                                <a href="" class="product-category hover-p-color">WATCHES</a>
    
                                <h2><a href="" class="product-name hover-p-color">Fashion Men’s Watches</a></h2>
    
                                <p class="product-price">$230.99</p>
    
                                <div class="review">
                                    <ul class="list-stars">
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
    
                                    ( 6 Reviews )
                                </div>
                            </div>
                            
    
                        </div>
    
                      
                         <!-- A product  -->
                         <div class="product">
                            <div class="product-image">
                                <img src="https://d-themes.com/html/riode/images/demos/demo4/products/6.jpg" alt="">
    
                                <div class="new">NEW</div>
    
                                <a href="" class="btn-view">VIEW DETAILS</a>
    
                                <a href="" class="btn-add">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </div>
    
                            <div class="product-content">
                                <a href="" class="product-category hover-p-color">WATCHES</a>
    
                                <h2><a href="" class="product-name hover-p-color">Fashion Men’s Watches</a></h2>
    
                                <p class="product-price">$230.99</p>
    
                                <div class="review">
                                    <ul class="list-stars">
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
    
                                    ( 6 Reviews )
                                </div>
                            </div>
                            
    
                        </div>
    
                         <!-- A product  -->
                         <div class="product">
                            <div class="product-image">
                                <img src="https://d-themes.com/html/riode/images/demos/demo4/products/7.jpg" alt="">
    
                                <div class="new">NEW</div>
    
                                <a href="" class="btn-view">VIEW DETAILS</a>
    
                                <a href="" class="btn-add">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </div>
    
                            <div class="product-content">
                                <a href="" class="product-category hover-p-color">WATCHES</a>
    
                                <h2><a href="" class="product-name hover-p-color">Fashion Men’s Watches</a></h2>
    
                                <p class="product-price">$230.99</p>
    
                                <div class="review">
                                    <ul class="list-stars">
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
    
                                    ( 6 Reviews )
                                </div>
                            </div>
                            
    
                        </div>
    
                         <!-- A product  -->
                         <div class="product">
                            <div class="product-image">
                                <img src="https://d-themes.com/html/riode/images/demos/demo4/products/8.jpg" alt="">
    
                                <div class="new">NEW</div>
    
                                <a href="" class="btn-view">VIEW DETAILS</a>
    
                                <a href="" class="btn-add">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </div>
    
                            <div class="product-content">
                                <a href="" class="product-category hover-p-color">WATCHES</a>
    
                                <h2><a href="" class="product-name hover-p-color">Fashion Men’s Watches</a></h2>
    
                                <p class="product-price">$230.99</p>
    
                                <div class="review">
                                    <ul class="list-stars">
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li class="active"><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
    
                                    ( 6 Reviews )
                                </div>
                            </div>
                            
    
                        </div>
                       
                    </div>
                </div>
            </section>
        </div>
    </main>

    

    <!-- Footer  -->
    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="footer-left col-8">
                        <div class="row">
                            <div class="col-4">
                                <h3 class="title">GET TO KNOW US</h3>
    
                                <ul>
                                    <li>About Riode</li>
                                    <li>Careers</li>
                                    <li>Affiliate Program</li>
                                    <li>Show Hosts</li>
                                    <li>Riode Cares</li>
                                    <li>Submit Your Product</li>
                                </ul>
                            </div>
                            
                            
                            <div class="col-4">
                                <h3 class="title">ACCOUNT</h3>
    
                                <ul>
                                    <li>My Account</li>
                                    <li>Our Guarantees</li>
                                    <li>Terms And Conditions</li>
                                    <li>Privacy Policy</li>
                                    <li>Intellectual Property Claims</li>
                                    <li>Site Map</li>
                                </ul>
                            </div>
    
                            <div class="col-4">
                                <h3 class="title">GET HELP</h3>
    
                                <ul>
                                    <li>Shipping & Delivery</li>
                                    <li>Order Status</li>
                                    <li>Brand</li>
                                    <li>Returns</li>
                                    <li>Payment Options</li>
                                    <li>Contact Us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="footer-right col-4">
                        <h3 class="title">NEWSLETTER</h3>
                        <p>Sign up for newsletter today</p>
                        <form action="">
                            <input type="text" placeholder="Email address here...">
                            <button>subscribe<i class="fa-solid fa-arrow-right"></i></button>
                        </form>

                        <div class="info">
                            <div class="medias">
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>

                            <img src="https://d-themes.com/html/riode/images/demos/demo4/payment.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            Riode eCommerce © 2022. All Rights Reserved
        </div>
    </footer>

</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="./dist/js/owl.carousel.js"></script>
    <script src="./dist/js/home.js"></script>
</html>