<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riode -  Forgot Password</title>
    <link rel="icon" type="image/png" href="https://d-themes.com/html/riode/images/icons/favicon.png">

    <link rel="stylesheet" href="./dist/css/reset.css">
    <link rel="stylesheet" href="./dist/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="./dist/css/owl.carousel.css">
    <link rel="stylesheet" href="./dist/css/owl.theme.default.css">
</head>
<body>
     
    <!-- Header -->
    <header class="header">
        <section class="header-top">
            <div class="container d-flex jc-space-between ai-center">
                <div class="header-left">
                    <p>Welcome to Riode store message or remove it!</p>
                </div>
    
                <div class="header-right">
                    <a class="hover-p-color" href="">
                        <i class="fa-solid fa-location-dot"></i>Contact Us
                    </a>
                    <a class="hover-p-color" href="">
                        <i class="fa-solid fa-circle-info"></i>Need help
                    </a>
                </div>
            </div>
        </section>

        <section class="header-middle">
            <div class="container d-flex jc-space-between ai-center">
                <div class="header-left  d-flex jc-space-between ai-center">
                    <div class="logo">
                        <a href="home.html"><img src="https://d-themes.com/html/riode/images/demos/demo4/logo.png" alt=""></a>
                    </div>

                    <ul class="menu  d-flex jc-space-between ai-center">
                        <li><a href="home.html">Home</a></li>
                        <li><a href="products.html">Products</a></li>
                        <li class="active"><a href="products.html">Sale</a></li>
                        <li><a href="">About</a></li>
                        <li class="search d-flex ai-center">
                            <input type="text" placeholder="Search...">
                            <a href="">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </li>
                    </ul>
                </div>
    
                <ul class="header-right  d-flex jc-space-between ai-center">
                   
                    <li><a href="login.html"><i class="fa-solid fa-user"></i></a></li>
                    <li><a href=""><i class="fa-solid fa-bag-shopping"></i></a></li>
                </ul>
            </div>
        </section>

        <div class="header-support"></div>

    </header>

    
    

    <main class="main login-container">
        <div class="container">
            
            <form class="login-form" action="">
                <h2>Find your password</h2>

                <p>Please enter your username to get OTP from email</p>
                <input type="text" placeholder="Username">
                <span class="errors">Can't find your username</span>
                <button>Send</button>
            </form>
        </div>
    </main>
    
     

</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="./dist/js/owl.carousel.js"></script>
    <script src="./dist/js/home.js"></script>
</html>