$cols: 12;
$gutter: 20px;

.row {
    display: flex;
    flex-wrap: wrap;

    margin: -$gutter/2;

    @for $i from 1 through $cols {
        .col-#{$i} {
            display: block;
            width: 100% * $i / $cols;

            padding: $gutter / 2;

            .col-item {
                box-shadow: 0 0 4px -2px;
            }
        }
    }
}