@import 'headerFooter';


.main {
    border-top: 1px solid #e1e1e1;

    //Main detail product
    .product {
        margin: 30px 0 35px;

        &-detail {
            padding: 10px 20px;
        }

        &-navigation {
            color: $color-black;
            font-size: 14px;
            margin-bottom: 10px;
            a,
            i {
                color: #999;
                transition: 0.3s;

                font-size: 14px;

            }

            i {
                margin-right: 8px;
            }

            a:hover {
                color: $color-primary;
                i {
                    color: $color-primary;

                }
            }
        }

        &-name {
            font-size: 26px;
            font-weight: 700;

            letter-spacing: -0.65px;
            line-height: 36.4px;
            
            margin-bottom: 6px;

            color: $color-black;
        }

        &-meta {
            margin-bottom: 18px;

            font-size: 12px;
            font-weight: 400;

            line-height: 19.2px;

            display: flex;
            align-items: center;
            color: #999;

            .product-brand {
                margin-left: 21px;
            }
        }

        &-price {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: -0.75px;
            line-height: 1;
            margin-bottom: 11px;
            color: #fec348;
        }

        &-rating{
            margin-bottom: 16px;

            color: rgba($color: $color-grey, $alpha: 0.6);

            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 400;
            line-height: 1;

            ul {
                display: flex;
                margin-right: 12px;

                li {
                    font-size: 14px;
                }

                .active {
                    color: $color-yellow;
                }
            }
        }

        &-short-desc {
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;

            margin-bottom: 20px;

            color: #666;
        }

        &-form {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            label {
                display: inline-block;

                color: #222;

                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.4px;
                line-height: 37px;

                margin-bottom: 10px;
                min-width: 70px;
            }

            select {
                width: 200px;
                height: 37px;
                margin-bottom: 10px;

                padding: 8px 30px 8px 14px;
                border: 1px solid #ebebeb;
                border-radius: 2px;

                color: #222;
                font-size: 13px;
                line-height: 19.5px;
            }
        }

        .form-control {
            display: flex;
            align-items: center;
            margin-right: 40px;

            input {
                width: 48px;
                height: 43px;

                border: 1px solid #ebebeb;
                border-width: 1px 0;

                text-align: center;

                font-weight: 700;
                font-size: 14px;
                line-height: 21px;

                padding-left: 16px;
            }

            button {
                width: 30px;
                height: 43px;

                background: none;
                border: 1px solid #ebebeb;
                font-size: 12px;
                color: #222;
                cursor: pointer;

                border-radius: 3px 0 0 3px;

                &:last-child {
                    border-radius:  0  3px 3px 0;

                }
            }
        }

        .add-cart {
            min-width: 130px;
            width: 207px;

            font-size: 14px;
            border-radius: 3px;
            background-color: $color-primary;
            transition: 0.3s;
            color: white;
            padding: 0 10px;

            font-size: 14px;
            font-weight: 600;
            line-height: 41px;

            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            opacity: 0.8;
            i {
                font-size: 17px;
                margin-right: 8px;
            }

            &:hover {
                opacity: 1;
            }
        }

        &-devider {
            margin: 20px 0;
            border-top: 1px solid #eee;
        }

        .brands {
            display: flex;
            align-items: center;

            i {
                font-size: 20px;
                margin-right: 32px;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }  
    

    //Just something
    .desc {
        margin-top: 50px;
        margin-bottom: 30px;
        .title {
            
            padding-top: 26px;
            margin-bottom: 20px;

            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.6px;
            line-height: 2;

            color: $color-black;

            border-bottom: 2px solid $color-lil-grey;

        }

        &-main {
            margin-top: 25px;

            color: $color-grey;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;

            .features {
                p {
                    margin-bottom: 10px;
                }
    
                ul {
                    margin-bottom: 40px;
    
                    li {
                        i {
                            margin-right: 12px;
                        }
                    }
                }
    
                table {
                    border-collapse: collapse;
    
                    tr {
                        &:not(:last-child) {
                            border-bottom: 1px solid #ebebeb;
                            
                        }
                        
                        td {
                            padding: 10px 10px 10px 20px;
    
                        }
    
                        th {
                            padding: 10px 10px 10px 0;
    
                            color: $color-black;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 25.2px;
                            text-align: left;
                        }
                    }
                }
            }

            .video-desc {
                padding-left: 30px;

                .video {
                    position: relative;
                    border-radius: 3px;
                    overflow: hidden;


                    a {
                        position: absolute;

                        top: 50%;
                        left: 50%;
                        transform: translate( -50%, -50%);

                            border-radius: 50%;
                            background-color: $color-black;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            width: 78px;
                            height: 78px;
                        
                            transition: 0.3s;
                        i {
                            font-size: 32px;
                            color: white;
                            margin-left: 4px;
                        }

                        &:hover {
                            opacity: 0.9;
                        }
                    }
                }

                .benefits {
                    margin-top: 20px;
                    
                    display: flex;
                    align-items: center;
                    justify-content: space-between;


                    .icon-box {
                        display: flex;
                        align-items: center;


                        .icon-box-icon {
                            height: 51px;
                            width: 51px;

                            border: 1px solid #ccc;
                            border-radius: 50%;
                            margin-right: 20px;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                        
                            i {
                                font-size: 20px;
                                color: $color-black; 
                            }
                        }

                        h4 {
                            color: $color-black;
                        }
                    }
                }
                    
            }

            
        }

        &-title {
            margin-bottom: 20px;

            color: $color-black;

            font-size: 20px;
            font-weight: 600;
            letter-spacing: -0.5px;
            line-height: 24px;

        }
    }


    //Show products
    .show-products {
        margin-top: 50px;
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding-top: 26px;
            margin-bottom: 20px;

            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.6px;
            line-height: 2;

            color: $color-black;

            border-bottom: 2px solid $color-lil-grey;

            a {
                font-size: 13px;
                font-weight: 700;
                letter-spacing: -0.325px;
                line-height: 27px;

                color: $color-black;
                
                i {
                    margin-left: 8px;
                }
            }
        }

        .owl-carousel {

            .product {
                &-image {
                    width: 280px;
                    height: 315px;

                    overflow: hidden;

                    position: relative;
                    .new {
                        position: absolute;
                        left: 20px;
                        top: 20px;


                        display: inline-block;
                        margin-bottom: 5px;
                        padding: 5px 11px;
                        font-size: 11px;
                        border-radius: 2px;
                        font-weight: 600;
                        line-height: 1;
                        color: white;
                        background-color: $color-primary;
                    }

                    .btn-view {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        width: 100%;
                        padding: 16px 0;
                        text-align: center;

                        color: white;
                        background-color: $color-primary;
            

                        font-size: 14px;
                        font-weight: 700;
                        letter-spacing: -0.35px;
                        line-height: 17px;

                        transition: 0.3s;
                        opacity: 0;
                        &:hover {
                            opacity: 1 !important;
                        }
                    }

                    .btn-add {
                        position: absolute;
                        top: 15px;
                        right: 15px;

                        width: 35px;
                        height: 35px;

                        border: 1px solid #999;
                        border-radius: 50%;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: $color-grey;
                        transition: 0.3s;
                        opacity: 0;

                        &:hover {
                            color: whitesmoke;
                            background-color: $color-primary;
                            border-color: $color-primary;
                        }
                    }

                }

                &-content {
                    padding: 14px 0 20px;

                }

                &-category {
                    display: block;
                    width: fit-content;

                    font-size: 10px;
                    font-weight: 400;
                    line-height: 1;
                    margin-bottom: 5px;
                    color: rgba($color: $color-grey, $alpha: 0.6);
                }

                &-name {
                    display: block;
                    width: fit-content;

                    margin-bottom: 3px;

                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: -0.14px;
                    line-height: 19.6px;
                    color: $color-grey;     
                }

                &-price {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 30px;
                    margin-bottom: 3px;
                    color: $color-black;
                }

                .review {
                    color: rgba($color: $color-grey, $alpha: 0.6);

                    display: flex;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 1;

                    ul {
                        display: flex;
                        margin-right: 12px;

                        .active {
                            color: $color-yellow;
                        }
                    }
                }

                &:hover {
                    .btn-add {
                        opacity: 1;
                    }

                    .btn-view {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}