.hover-p-color {
    transition: 0.3s;
    &:hover {
        color: #1e90ff !important;
    }
}

@keyframes slideInDown {
    from {
        margin-top: -60px;
    }

    to {
        margin-top: 0;

    }
}