@import 'color';
@import 'animation';
@import 'grid';

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    overflow-x: hidden;
    background-color: $color-white;
    
}

//Header
header {
    

    .header-top {
        background-color: $color-lil-grey;
        

        .container {
            height: 45px;
        }
        
        p,
        a {

            font-size: 12px;
            font-weight: 400;
            line-height: 45px;

            color: $color-grey;
        }

        a:first-child {
            position: relative;
            padding-right: 20px;
            &::after {
                content: '';

                display: block;
                position: absolute;
                width: 1px;
                height: 25px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);

                background-color: #e1e1e1;
            }
        }

        i {
            font-size: 15px;

            margin: 1px 7px 0 23px;
            transform: translateY(1px);
        }
    }

    .header-middle {
        background-color: white;
        padding: 32px 0;

        .header-left {
            .logo {
                width: 154px;
                margin-right: 77px;
            }

            .menu {
                li {
                    margin-right: 30px;

                    &:active {
                        a {
                            color: $color-primary;
                        }
                    }

                    a {
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 1;
                        letter-spacing: -0.1px;

                        color: $color-black;

                        &:hover {
                            color: $color-primary;
                            transition: 0.2s;
                        }
                    }

                    &.search {
                        background-color: $color-lil-grey;
                        padding: 15px;
                        height: 40px;
                        input {

                            width: 200px;
                            background-color: $color-lil-grey;
                            font-size: 12px;

                            &::placeholder {
                                font-size: 12px;
                            }
                        }

                        a {
                            &:hover {
                                color: $color-primary;
                                transition: 0.2s;
                            }
                        }
                    } 
                }
            }
        }

        .header-right {
            li {
                margin-left: 30px;

                i {
                    font-size: 22px;
                    transform: translateY(1px);
                    color: $color-black;
                    &:hover {
                        color: $color-primary;
                        transition: 0.2s;
                    }
                }
            }

            .cart-group {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;

                    width: 250%;
                    height: 200%;

                    // background-color: #000000;

                    top: 50%;
                    left: 50%;
                    transform: translate( -50%, -50%);
                }

                .prod-quantity {
                    position: absolute;
                    top: -4px;
                    right: -8px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 15px;
                    height: 15px;
                    background-color: $color-primary;
                    color: white;

                    border-radius: 50%;
                    font-size: 11px;
                    line-height: 0.8;
                }

                .cart {
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(8px);


                    border-radius: 4px;
                    position: absolute;
                    top: 120%;
                    right: 0;
                    z-index: 200;
                    padding: 30px;
                    background-color: white;
                    box-shadow: 0 5px 30px 2px rgba($color: #000000, $alpha: 0.2);
                    .show-prods {
                        overflow: auto;
                        height: 200px;

                        .prod {
                            position: relative;

                            display: flex;
                            width: 270px;
                            &-image {
                                padding: 0;
                                width: 80px;
                                height: 90px;
                                margin-right: 25px;
                            }

                            &-info {
                                padding: 0;
                                // margin-right: 10px;
                                display: flex;
                                align-items: center;
                            }

                            &-name {
                                display: inline-block;
                                font-size: 14px;
                                font-weight: 600;
                                letter-spacing: -0.35px;
                                line-height: 18.76px;
                                margin-bottom: 16px;
                                margin-right: 10px;

                                color: #666;
                            }

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                letter-spacing: -0.35px;
                                line-height: 1;
                                margin-right: 10px;
                                color: #666;

                                .price {
                                    font-weight: 600;
                                    color: $color-black;

                                    margin-left: 10px;
                                }

                                .quantity {
                                    margin-right: 10px;
                                }
                            }



                            .btn-remove {
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);

                                width: 21px;
                                height: 21px;
                                background-color: white;
                                border: 1px solid #ccc;
                                color: $color-black;
                                border-radius: 50%;

                                display: flex;
                                align-items: center;
                                justify-content: center;

                                cursor: pointer;
                                i {
                                    font-size: 13px;
                                    transform: translateY(-1px);
                                }

                            }

                            &:not(:first-child) {
                                margin-top: 20px;
                            }
                        }
                    }

                    .subtotal {
                        margin: 20px 0;
                        border-top: 1px solid rgb(237, 238, 240);
                        border-bottom: 1px solid rgb(237, 238, 240);
                        padding: 17px 0 15px;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 14px;
                        font-weight: 400;

                        .total-price {
                            font-weight: 700;
                            font-size: 16px;

                            
                        }

                        label {
                            margin-left: 4px;
                            color: #666;
                        }
                    }

                    .action {
                        text-align: center;
                    }

                    .btn-view-cart {
                        display: inline-block;
                        margin-bottom: 20px;
                        border-bottom: 2px solid $color-primary;
                        font-size: 14px;
                        font-weight: 700;
                        
                        letter-spacing: 0.14px;
                        line-height: 18px;
                        color: $color-black;

                        text-transform: capitalize;
                        &:hover {
                            color: $color-primary;
                        }
                    }

                    .btn-check-out {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        height: 50px;

                        border-radius: 4px;
                        background-color: $color-black;

                        color: white;

                        font-size: 14px;
                        font-weight: 700;
                        transition: 0.3s;
                        &:hover {
                            opacity: 0.9;
                        }
                    }
                }

                &:hover {
                    .cart {
                        visibility: visible;
                        opacity: 1;
                        transition: 0.3s;

                        transform: translateY(0);
                    }
                }
            }
        }

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;

            padding: 15px 0 14px;

            z-index: 99999;

            box-shadow: 0 4px 5px 0 rgba($color: #000000, $alpha: 0.1);
            animation: slideInDown 0.3s ease;
        }
    }

    .header-support {
        height: 108px;
        display: none;
        
            &.active {
                display: block;
            }
        
    }
}



//Footer
.footer {
    &-middle {
        padding: 70px 0 26px;
        border-top: 2px solid $color-lil-grey;
        border-bottom: 2px solid $color-lil-grey;

        .title {
            padding: 6px 0;
            margin-bottom: 8px;

            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.1px;
            line-height: 21.6px;
            color: $color-black;
        }

        li,
        p {
            margin-bottom: 15px;

            font-size: 13px;
            font-weight: 500;
            line-height: 15.6px;
            color: $color-grey;

            transition: 0.3s;

            
        }

        li {
            &:hover {
            cursor: pointer;
            color: $color-primary;
            }
        }
        
        form {
            width: 100%;
            height: 50px;
            margin-bottom: 30px;
            display: flex;
            input {
                flex-grow: 1;

                font-size: 12px;
                font-weight: 400;
                line-height: 18px;

                padding: 10px 13px;
                border-radius: 3px 0 0 3px;
                background-color: $color-lil-grey;
                color: $color-grey;
                &:focus {
                    &::placeholder {
                        opacity: 0;
                    }
                }
            }

            button {
                padding: 0 16px;
                border-radius: 5px;

                background-color: $color-primary;
                color: white;

                font-size: 13px;
                font-weight: 700;
                line-height: 1;
                cursor: pointer;
                text-transform: uppercase;

                i {
                    margin-left: 8px;
                }
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .medias {
                display: flex;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 30px;
                    height: 30px;

                    border: 1px solid $color-grey;
                    border-radius: 50%;

                    color: $color-grey;
                    margin-right: 8px;

                    transition: 0.3s;

                    i {
                        font-size: 16px;
                    }

                    &:hover {
                        border-color: $color-primary;
                        background-color: $color-primary;

                        i {
                            color: white;
                        }
                    }
                }
            }

            img {
                width: 135px;
            }
        }
    }

    &-bottom {
        padding: 35px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        color: $color-grey;


    }
        
}