@import 'aside';


body {
    background-color: #FEFAF4;
}

.main {
    padding: 20px 40px;
    margin-left: 280px;
    width: calc(100vw - 280px);

    &-header {
        margin-bottom: 20px;
        height: 60px;
        h2 {
            font-size: 18px;
            font-weight: 600;
            line-height: 23.4px;
            letter-spacing: -0.12px;

            margin-bottom: 4px;
        }

        .map {
            color: #666;
            font-size: 13px;

            a {
                font-size: 13px;
                font-weight: 500;
                line-height: 19.5px;

                color: #666;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }

    &-content {
        margin-top: 40px;

        .hx2 {
            height: 480px;

        }

        .hx1 {
            height: 230px;
        }

        .bill {
            background-color: white;
            height: 480px;

            border-radius: 20px;

            transition: 0.3s;


            padding: 20px 40px;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            color: #333;

            h3 {
                text-align: center;
                font-size: 32.7px;
                font-weight: 500;
                line-height: 2;
                width: 100%;

                position: relative;
                .bold {
                    font-weight: 700;
                    color: $color-black;
                }

                &::after {
                    content: '';
                    transition: 0.5s;
                    display: block;
                    height: 2px;
                    width: 0%;
                    position: absolute;
                    left: 0;
                    bottom: 2px;
                    background-color: #ccc;

                }
            }

            .icon {
                margin-top: 20px;

                font-size: 160px;
                opacity: 0.8;

                .disable {
                    opacity: 0;
                    display: none;
                    transition: 0.3s;
                }
            }

            p {
                margin-top: 40px;
            }

            &:hover {
                box-shadow: 0 0 12px -4px#ccc;

                h3:after {
                    width: 100%;
                }

                .active,
                .bold {
                    color: $color-primary;
                }

                .disable {
                    display: inline;
                    opacity: 1;
                    color: $color-primary;
                }

                // .active {
                //     display: none;
                // }
            }
        }

        .report {
            margin-left: 20px;
            margin-bottom: 20px;

            padding: 20px;
            background-color: white;

            border-radius: 20px;
            color: #333;

            .icon {
                margin-top: 40px;
                margin-bottom: 40px;

                font-size: 60px;
                display: flex;
                justify-content: center;
                i {
                    margin: 0 20px;
                }
            }

            p {
                text-align: center;
            }

            &:hover {
                box-shadow: 0 0 12px -4px#ccc;

                .bold {
                    color: $color-primary;
                }
            }
        }
    }
}