@import 'headerFooter';

.header {
    position: fixed;
    left: 0;
    right: 0;
}

.main {
    background-color: #ecf0f1;
    height: 100vh;
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        height: 100%;
        form {
            margin-top: 200px;
            // background-color: #ecf0f1 !important;
            border-radius: 4px;

            padding: 40px;
            background-color: white;

            h2 {
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                line-height: 1;
                margin-bottom: 40px;

                color: $color-black;
            }

            input {
                display: block;
                width: 100%;
                padding: 12px 15px;
                border: 1px solid #ccc;
                border-radius: 3px;
                // margin-bottom: 10px;
                margin-top: 20px;
                font-size: 13px;
                line-height: 20px;
                color: $color-grey;
            }

            .errors {
                display: block;
                margin-bottom: 10px;

                margin-left: 12px;
                font-size: 13px;
                color: #c0392b;
            }

            .link  {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {

                    text-align: end;
                    font-size: 13px;
                    color: $color-grey;
                    transition: 0.3s;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }

            button {
                margin-top: 20px;

                width: 100%;
                cursor: pointer;
                height: 45px;
                background-color: $color-primary;
                font-size: 13px;
                font-weight: 700;
                text-transform: uppercase;
                color: white;
                border-radius: 4px;
                transition: 0.3s;
                &:hover {
                    opacity: 0.9;
                }
            }

            &.login-form {
                width: 500px;

            }

            &.register-form {
                width: 900px;
                font-size: 12px;

                h2 {
                    margin-bottom: 20px;
                }

                .input-group {
                    margin-top: 20px;

                    height: 46px;
                    overflow: hidden;
                    label {
                        font-size: 12px;
                    }

                    input {
                        margin: 0;
                        border: none;
                        padding: 0;

                        
                    }

                    select {
                        height: 40px;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        width: 120px;

                        padding: 0 12px;
                        margin-left: 12px;

                        font-size: 14px;
                        color: $color-grey;
                    }
                }
            }

            p {
                margin-top: 30px;
                a {
                    color: $color-grey;
                }
                a:hover {
                    color: $color-primary;
                }
            }
        }
    }
}