@import 'aside';

body {
    background-color: #FEFAF4;
}

.main {
    padding: 20px 40px;
    margin-left: 280px;
    width: calc(100vw - 280px);

    &-header {
        margin-bottom: 20px;
        height: 60px;
        h2 {
            font-size: 18px;
            font-weight: 600;
            line-height: 23.4px;
            letter-spacing: -0.12px;

            margin-bottom: 4px;
        }

        .map {
            color: #666;
            font-size: 13px;

            a {
                font-size: 13px;
                font-weight: 500;
                line-height: 19.5px;

                color: #666;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }

    &-content {
        margin-top: 80px;
        height: calc(100vh - 170px);
        select {


            height: 40px;
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 120px;

            padding: 0 12px;
            margin-top: 20px;

            font-size: 14px;
            color: $color-grey;
        }

        input {
            display: block;
            width: 100%;
            padding: 12px 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            // margin-bottom: 10px;
            margin-top: 20px;
            font-size: 13px;
            line-height: 20px;
            color: $color-grey;
        }
    }

    .logo {
        width: 280px;
        height: 280px;

        font-size: 90px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $color-primary;
        color: white;
        border-radius: 50%;
    }

    .btn-change {
        position: absolute;
        bottom: 20px;
        right: 40px;

        height: 40px;

        font-size: 14px;
        font-weight: 600;
        color: $color-primary;
        border-radius: 12px;

        padding: 0 20px;
        cursor: pointer; 

        transition: 0.3s;

        &:hover {
            color: white;
            background-color: $color-primary;
        }
    }
}