@import 'headerFooter';

body {
    background-color: white;
}

.main {

    .page-content {
        padding: 35px 0 50px;

        .step-by {
            padding: 9px 20px;
            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;


            .title-step {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: -0.5px;
                line-height: 1;
                padding: 4px 0;

                color: #666;

                &.active {
                    color: #26c;
                }
            }

            i {
                margin: 0 20px;
                font-size: 20px;
                color: #ccc;
            }
        }

        .container {
            margin: 35px auto 10px;

            .col-8 {
                padding:  0 20px 0 10px;

                table {
                    border-collapse: collapse;
                    width: 100%;
                    tr {
                        border-bottom: 1px solid #ccc;
                        text-align: left;
                    }
                    
                    th {
                        padding: 2px 0 18px;

                        font-size: 13px;
                        font-weight: 700;

                        letter-spacing: -0.325px;
                        line-height: 1;

                        color: #999;


                    }

                    td {
                        
                        padding: 20px 20px 20px 0;
                        
                        &.product-thumbnail {
                            height: 100px;
                            width: 115px;
                        }

                        &.product-name {
                            font-size: 14px;
                            font-weight: 600;
                        
                            letter-spacing: -0.14px;
                            line-height: 26px;

                            color: #333;

                            width: 210px;
                        }

                        &.product-subtotal {
                            font-size: 14px;
                            font-weight: 400;

                            width: 130px;
                        }   

                        &.product-quantity {
                            width: 180px;

                            .form-control {
                                display: flex;
                                align-items: center;
                                margin-right: 40px;
                    
                                input {
                                    width: 48px;
                                    height: 43px;
                    
                                    border: 1px solid #ebebeb;
                                    border-width: 1px 0;
                    
                                    text-align: center;
                    
                                    font-weight: 700;
                                    font-size: 14px;
                                    line-height: 21px;
                    
                                    padding-left: 16px;
                                }
                    
                                button {
                                    width: 30px;
                                    height: 43px;
                    
                                    background: none;
                                    border: 1px solid #ebebeb;
                                    font-size: 12px;
                                    color: #222;
                                    cursor: pointer;
                    
                                    border-radius: 3px 0 0 3px;
                    
                                    &:last-child {
                                        border-radius:  0  3px 3px 0;
                    
                                    }
                                }
                            }
                        }

                        &.product-price {
                            width: 110px;
                            font-size: 14px;
                            font-weight: 600;
                        }

                        &.product-close {
                            .btn-remove {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                width: 22px;
                                height: 22px;

                                border: 1px solid #ccc;
                                border-radius: 50%;

                                cursor: pointer;

                                &:hover {
                                    background-color: #c0392b;

                                    color: white;
                                }
                            }
                        }

                        &:last-child {
                            padding-right: 0;
                        }


                    }
                }

                .cart-action {
                    padding-top: 20px;
                    margin-bottom: 30px;

                    .btn-back-home {
                        width: fit-content;

                        padding: 15px 30px;
                        height: 45px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: $color-primary;
                        background-color: rgba($color: $color-primary, $alpha: 0.2);

                        font-size: 13px;
                        font-weight: 700;

                        cursor: pointer;

                        border-radius: 4px;

                        transition: 0.3s;
                        i {
                            margin-right: 12px;
                        }

                        &:hover {
                            background-color: $color-primary;
                            color: white;
                        }
                    }
                }
            }

            .col-4 {
                padding: 25px 30px;

                border: 1px solid #ccc;
                border-radius: 4px;

                align-self: flex-start;
            }
            .sidebar {
                
                .title {
                    font-size: 18px;
                    font-weight: 700;

                    letter-spacing: -0.18px;
                    line-height: 25px;

                    padding-bottom: 19px;
                    border-bottom: 1px solid #ccc;

                    text-transform: uppercase;
                }

                .total {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    label {
                        display: inline-block;

                        padding: 25px 0;
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: -0.14px;
                        line-height: 22.4px;

                        color: #333;
                    }

                    .price {
                        font-size: 20px;
                        font-weight: 700;
                        letter-spacing: -0.2px;
                        line-height: 1.8;
                    }

                    
                }

                .btn-check-out {
                    padding: 15px 30px;
                    height: 45px;

                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: $color-primary;
                    color: white;

                    font-size: 15px;
                    font-weight: 700;

                    cursor: pointer;

                    border-radius: 4px;

                    text-transform: uppercase;

                    transition: 0.3s;
                    i {
                        margin-right: 12px;
                    }

                    &:hover {
                        opacity: #26c;
                    }
                }
            }

            .useless {
                h3 {
                    padding: 20px 0 22px;
                    
                    font-size: 16px;
                    font-weight: 600;

                    letter-spacing: -0.16px;
                    line-height: 22.6px;
                }

                label {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
    }
}